<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ingreso a 5Ctrl Smart Parking</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />



</head>


<body background = "https://imagizer.imageshack.com/img923/7958/CjOHpC.png" style="background-repeat: no-repeat; background-position: center top;background-attachment: fixed;background-size: 100%;" ></body>
 
<br> <br/>
<br> <br/>
<br> <br/>
<br> <br/>
<br> <br/>
<br> <br/>

<h1>Salida 
	
	<style type="text/css">
body {
    font-family: sans-serif, "sans-serif",
          Times, serif;
    color: white;
    font-size: 1.2vw;
    text-align: center;
    display: block;
    }
  ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
        
</style></h1>


    <form action="#" th:action="@{/salida}" th:object="${ingresodto}" method="post">
    	<p>Documento: <input autofocus type="text" placeholder="Inserte su Documento"  th:field="*{cedula}"  min="1" maxlength="8" required/></p>
    	 
         
        <p><input type="submit" value="Enviar" /> <input type="reset" value="Reset" /></p>
    </form>
    
<a href="/smartParking">Volver al inicio </a>

</body>
</html>