<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	

</head>


<body background = "https://imagizer.imageshack.com/img923/7958/CjOHpC.png" style="background-repeat: no-repeat; background-position: center top;background-attachment: fixed;background-size: 100%;" </>

<body>
    
	<h1>Error al ingresar
	
	
	<style type="text/css">
	
body {
	font-family: sans-serif, "sans-serif",
          Times, serif;
    color: white;
    font-size: 1vw;
    text-align: center;
	display: block;    
    
     }
  ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }

</style></h1>
    <p th:text="'La cedula ' + ${ingresodto.cedula} + ' ya esta registrada o hubo un error al ingresar los datos'"/>
    <a href="/smartParking">Volver al inicio </a>
    
   
    
    
</body>
</html>