<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bienvenido al freak parking</title>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 	
    <script src="dada.js"></script>



</head>


<h1>5Ctrl Smart Parking
<style type="text/css">
body {
    padding-left: 32em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: blue;
    background-color: #81F781 }
  ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }

</style>
</h1>

         <div>
            <p class="dios">Cantidad de lugares disponibles: </p> 
            <!-- <p class="greeting-content">El contenido es: </p> -->
            
        </div>

	
	 <form action="#" th:action="@{/ingreso}"  method="get">
        <p><input type="submit" value="Entrar" /> </p>
    </form>
	
	
	



</html>