<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bienvenido al 5Ctrl Smart Parking</title>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 	
    <script src="dada.js"></script>



</head>


<h1>Bienvenidos <br> <br/> 
5Ctrl Smart Parking
<style type="text/css">
body {
    padding-left: 30em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: blue;
    background-color: #F5DA81 }
  ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }

</style>
<br> <br/>
</h1>

         <div>
            <p class="dios">Cantidad de lugares disponibles: </p> 
            <!-- <p class="greeting-content">El contenido es: </p> -->
         
        </div>

	
	 <form action="#" th:action="@{/ingreso}"  method="get">
    <p>  <input type="submit" value="Entrar" /> <input type="submit" value="Salir" /></p> </p>
   
       
       <br> <br/>
      <img src="http://1.bp.blogspot.com/-YNvYs_sRu6E/Va_GQwMl6XI/AAAAAAAABt0/-Lu0JuZPlio/s1600/bicicleta%2B8.png" width="300" height="150"alt="imagen de bici" > 
       
         <br> <br/>
         <br> <br/>
         <br> <br/>
         <br> <br/>
       
      
       
    </form>
	
<div id="footer">Pie de página
 
</div>

</html>