<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bienvenido al 5Ctrl Smart Parking</title>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 	
    <script src="dada.js"></script>




</head>
<body background = "https://imagizer.imageshack.com/img923/7958/CjOHpC.png" style="background-repeat: no-repeat; background-position: center center;background-size: 100%; " </>


<br> <br/>
<br> <br/>

<h1>Bienvenidos <br> <br/> 

<style type="text/css">
body {
    padding-left: 30em;
    font-family: sans-serif, "sans-serif",
          Times, serif;
    color: white;
    backgorund: #FF0000;
    }
  ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }

</style>

<br> <br/>

</h1>

         <div>
            <p class="dios">Cantidad de lugares disponibles: </p> 
            <!-- <p class="greeting-content">El contenido es: </p> -->
         
        </div>

	
	 <form action="#" th:action="@{/ingreso}"  method="get">
      <input type="submit" value="Entrar" />
       
      
       
    </form>
	
<div id="footer"

</div>

</html>