<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ingreso a 5Ctrl Smart Parking</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />



</head>


<body background = "https://imagizer.imageshack.com/img922/1526/O9mHeD.png" style="background-repeat: no-repeat; background-position: center center;background-size: 100%;height: auto; " </>




<h1>Ingreso 
	
	<style type="text/css">
body {
   padding-left: 30em;
    font-family: sans-serif, "sans-serif",
          Times, serif;
    color: white;
    }
  ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
        
</style></h1>
<br> <br/>

    <form action="#" th:action="@{/ingreso}" th:object="${ingresodto}" method="post">
    	<p>Cedula: <input type="text" th:field="*{cedula}" /></p>
    	 <br> <br/>
         
       
        <p><input type="submit" value="Enviar" /> <input type="reset" value="Reset" /></p>
    </form>
    


</body>
</html>