<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ingreso a 5Ctrl Smart Parking</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


</head>
<body background = "https://ya-webdesign.com/images/road-clipart-raod-2.png" style="background-repeat: no-repeat; background-position: center center;" </>
<body>
	<h1>Ingreso
	<style type="text/css">
body {
   padding-left: 30em;
    font-family: sans-serif, "sans-serif",
          Times, serif;
    color: blue;
    background-color: #81F781 }
  ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }

</style></h1>
    <form action="#" th:action="@{/ingreso}" th:object="${ingresodto}" method="post">
    	<p>Cedula: <input type="text" th:field="*{cedula}" /></p>
        <p><input type="submit" value="Enviar" /> <input type="reset" value="Reset" /></p>
    </form>
    <br> <br/>
    <br> <br/>
    <img src="http://1.bp.blogspot.com/-YNvYs_sRu6E/Va_GQwMl6XI/AAAAAAAABt0/-Lu0JuZPlio/s1600/bicicleta%2B8.png" width="300" height="150"alt="imagen de bici" > 
</body>
</html>