<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    




</head>



<body background = "https://imagizer.imageshack.com/img923/7958/CjOHpC.png" style="background-repeat: no-repeat; background-position: center top;background-attachment: fixed;background-size: 100%;" </>
 
<br> <br/>
<br> <br/>
<br> <br/>
<br> <br/>
<br> <br/>
<br> <br/>

	<h1>Gracias
	
	<style type="text/css">
body {
    font-family: sans-serif, "sans-serif",
          Times, serif;
        
    color: white;
    font-size: 1.2vw;
    text-align: center;
    display: block;
     }
  ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }

</style></h1>
    <p th:text="'Vuelva pronto: ' + ${ingresodto.cedula}" />
    <a href="/smartParking">Volver al inicio </a>
    
   
    
    

</html>